<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="item">
    <div class="content">
        <div class="header">
            <span>Company Name (COMP) &mdash; $1.27 B </span><span class="ui green label">87</span>
        </div>
        <div class="meta">
            <p>Reported: 02/10/2018 | Updated: 03/10/2021</p>
        </div>
        <div class="extra">
            <div class="ui label">Sales</div>
            <div class="ui label">Expenditures</div>
            <div class="ui label">Gross Revenue</div>
            <div class="ui right floated primary small button">
                Reports
                <i class="right chevron icon"></i>
            </div>
        </div>
    </div>
</div>
