<h2 contenteditable="true">Company Name</h2>
<div class="field">
    <label for="reported">Reported Date: </label><input type="text" value="02/23/2020">
</div>
<div class="field">
    <label for="updated">Updated Date: </label><input type="text" value="03/10/2021">
</div>
<div class="field">
    <label for="industry">Industry: </label><input type="text" value="Medical">
</div>
<div class="two fields">
    <div class="field">
        <div class="ui checkbox">
            <label for="active">Active: </label><input name="active" type="checkbox">
        </div>
    </div>
</div>
<button class="ui secondary button" type="submit">Save</button>
