<form class="ui large form inverted main-form success sixteen wide column centered"
    [ngFormModel]="changePasswordForm" (ngSubmit)="onSubmit(changePasswordForm.value)">

    <h3 class="ui dividing header">{{ strResources.membershipForms.changePasswordTitle }}</h3>

    <div class="inline fields">

        <div class="two wide field">
            <label for="oldPassword">{{ strResources.membershipForms.oldPassword }}</label>
        </div>
        <div class="six wide field">
            <input type="password" placeholder="{{ strResources.membershipForms.changePasswordPlaceholder }}"
                [(ngModel)]="changePasswordViewModel.oldPassword" ngControl="oldPassword" #oldPassword="ngForm" [sm-dir-popup]="{selector: 'old-password-popup', position: 'top center'}">
            <sm-popup *ngIf="showError(oldPassword)" selector="old-password-popup">
                {{ getPasswordError(oldPassword) }}
            </sm-popup>
        </div>
        <div class="eight wide field"></div>

    </div>

    <div class="inline fields" ngControlGroup="matchingPassword">
        <div class="two wide field">
            <label for="newPassword">{{ strResources.membershipForms.newPassword }}</label>
        </div>
        <div class="six wide field">
            <input type="password" placeholder="{{ strResources.membershipForms.newPasswordPlaceholder }}"
                [(ngModel)]="changePasswordViewModel.newPassword" ngControl="newPassword" #newPassword="ngForm" [sm-dir-popup]="{selector: 'new-password-popup', position: 'top center'}">
            <sm-popup *ngIf="showError(newPassword)" selector="new-password-popup" >
                {{ getPasswordError(newPassword) }}
            </sm-popup>
        </div>

        <div class="two wide field">
            <label for="confirmPassword">{{ strResources.membershipForms.confirmPassword }}</label>
        </div>
        <div class="six wide field">
            <input type="password" placeholder="{{ strResources.membershipForms.confirmPasswordPlaceholder }}"
                [(ngModel)]="changePasswordViewModel.confirmPassword" ngControl="confirmPassword" #confirmPassword="ngForm" [sm-dir-popup]="{selector: 'confirm-password-popup', position: 'top center'}">
            <sm-popup *ngIf="showError(confirmPassword) || showMatchingError(confirmPassword)" selector="confirm-password-popup">
                {{ getConfirmPasswordError(confirmPassword) }}
            </sm-popup>
        </div>
    </div>

    <div class="field">
        <sm-button class="positive" type="submit" [disabled]="!canSubmit()" (click)="onSubmitClicked($event)">
            {{ strResources.membershipForms.saveButton }}
        </sm-button>
    </div>

</form>
