<h2 class="ui header sixteen wide column centered">{{ strResources.membershipForms.forgotPasswordTitle }}</h2>
<div class="five wide column"></div>
<form class="error ui form large main-form inverted six wide column centered"
      [ngFormModel]="forgotPasswordForm" (ngSubmit)="onSubmit()">

    <div class="field">
        <label for="email">{{ strResources.membershipForms.email }}</label>
        <input type="email" placeholder="{{ strResources.membershipForms.emailPlaceholder }}"
               required [(ngModel)]="forgotPasswordViewModel.email" ngControl="email" #email="ngForm">
        <div *ngIf="showError(email)" class="ui negative message">
            {{ getEmailError(email) }}
        </div>
    </div>

    <div *ngIf="showForgotPasswordError" class="ui negative message">
        {{ ForgotPasswordErrorMessage }}
    </div>

    <sm-button class="positive" type="submit" [disabled]="!canSubmit()" (click)="onSubmitClicked($event)">
        {{ strResources.membershipForms.submitButton }}
    </sm-button>

    <div class="ui divider"></div>

    <div>
        <label>{{ strResources.membershipForms.dontHaveAccount }}</label>
        <a (click)='showRegister()' class="register-toggle">
            {{ strResources.membershipForms.registerLink }}
        </a>
    </div>

    <div class="ui divider"></div>

    <div>
        <label>{{ strResources.membershipForms.returnTo }}</label>
        <a (click)="showLogin()">
            {{ strResources.membershipForms.loginLink }}
        </a>
    </div>

</form>
<div class="five wide column"></div>