<h2 class="ui header twelve wide column centered">{{ strResources.membershipForms.resetPasswordTitle }}</h2>

<form class="error ui form large main-form ten wide column centered"
      [ngFormModel]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">

    <div ngControlGroup="matchingPassword">

        <div class="inline fields">
            <div class="three wide field">
                <label for="password">{{ strResources.membershipForms.newPassword }}</label>
            </div>
            <div class="twelve wide field">
                <input name="password" type="password" placeholder="{{ strResources.membershipForms.newPasswordPlaceholder }}"
                       [(ngModel)]="resetPasswordViewModel.password" ngControl="password" #password="ngForm">
            </div>
        </div>
        <div *ngIf="showError(password)" class="ui negative message">
            {{ getPasswordError(password) }}
        </div>

        <div class="inline fields">
            <div class="three wide field">
                <label for="confirmPassword">{{ strResources.membershipForms.confirmPassword }}</label>
            </div>
            <div class="twelve wide field">
                <input name="confirmPassword" type="password" placeholder="{{ strResources.membershipForms.confirmPasswordPlaceholder }}"
                       [(ngModel)]="resetPasswordViewModel.confirmPassword" ngControl="confirmPassword" #confirmPassword="ngForm">
            </div>
        </div>
        <div *ngIf="showError(confirmPassword) || showMatchingError(confirmPassword)" class="ui negative message">
            {{ getConfirmPasswordError(confirmPassword) }}
        </div>
    </div>

    <div *ngIf="showResetPasswordError" class="ui negative message">
        {{ resetPasswordErrorMessage }}
    </div>

    <div class="field">
        <sm-button class="positive fluid large" type="submit" [disabled]="!canSubmit()"
            (click)="onSubmitClicked($event)">{{ strResources.membershipForms.resetPasswordButton }}</sm-button>
    </div>

</form>
